
body{
    padding-top: 50px;
}

.backimg{
     width:100%;
}
.navbar-inverse input[type="text"]{
    background: #313131;
    border: none;
    color:#999;
}
.navbar-inverse .navbar-form{
    position: relative;
}
.navbar-inverse button[type="submit"]{
    position: absolute;
    top: 25%;
    right:20px;
    background: none;
    border: none;
    
}
@media(min-width:768px){
    .navbar-inverse button[type="submit"]{
        top:20%;
    }
}
.navbar-inverse .glyphicon{
    color: #999;
}
.profile{
    margin-right:25px;
}



.myModal {
margin: -300px 0 0 -280px; /* PLAY THE WITH THE VALUES TO SEE GET THE DESIRED EFFECT */
}
